body {
	font-family: Helvetica, san-serif;
	margin: 1em;
	padding: 0px;
}

.Models, .Views {
	width: calc(50% - 2em);
	position: absolute;
}
.Views {right: 1em;}

.Models .name, .Models .color, .Models .bg {
	width: calc(33% - 0.34em);
	display: inline-block;
}
