body {
	font-family: Helvetica, san-serif;
	margin: 1em;
	padding: 0px;
}

.Models, .Views {
	width: calc(50% - 2em);
	position: absolute;
}
.Views {right: 1em;}

.Models .name, .Models .color, .Models .bg {
	width: calc(33% - 0.34em);
	display: inline-block;
}

.Views .item {
	height: 1.5em;
	line-height: 1.5em;
	padding: 0.25em 0.5em;
}

.Views .item .drag {
	display: inline-block;
	height: 1em;
	width: 1em;
}
